#app {
  // 主体区域
  .main-container{
    min-height:100%;
    transition:margin-left 0.25s;
    margin-left:240px;
  }
  .sidebar-container{
    transition:width 0.25s;
    width:240px!important;
    height:100%;
    position:fixed;
    font-size:0px;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:9;
    background-color: rgb(48, 65, 86);
    a{
      display:inline-block;
      width:100%;
    }
    .el-menu{
      border:0;
      width:100%!important;
    }
    .el-menu-item.is-active {
      color: #409eff;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 40px !important;
    }
    .main-container {
      margin-left: 40px;
    }
    .el-submenu__title,.el-tooltip{
      padding-left:5px!important;
    }
  }
  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
